.my-cards-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.2);
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    padding: 0.5rem 1rem;
  }
}
